<div class="wrapper">
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <div class="content">
            <!--  Topbar Sart -->
            <app-topbar></app-topbar>
            <!--  Topbar End -->

            <!-- Start Scroller-nav -->
            <app-scroller></app-scroller>
            <!-- End Scroller-nav -->

            <!-- Start Content-->
            <div class="container-fluid">
                <app-bread-crumbs></app-bread-crumbs>
                <router-outlet></router-outlet>
            </div>

            <!-- container -->

        </div>
        <!-- content -->

        <!-- Footer Start -->
        <app-footer></app-footer>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>