<div class="auth-fluid">
    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">
                <!-- Logo -->
                <div class="auth-brand text-center text-lg-start">
                    <a class="">
                        <span><img src="assets/images/image001 (1).png" class="img-fluid " alt="" ></span>
                    </a>

                </div>
                <!-- title-->
                <h4 class="mt-0">Iniciar sesión</h4>
                <p class="text-muted mb-4">Ingresa tu email y contraseña para acceder a la plataforma</p>

                <!-- form -->

                <div class="mb-3">
                    <label for="emailaddress" class="form-label">Email</label>
                    <input class="form-control" type="email" [(ngModel)]="email" id="emailaddress" required="" placeholder="Ingresa tu email">
                </div>
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input class="form-control" type="password" [(ngModel)]="password" placeholder="Ingresa tu contraseña">
                </div>

                <div class="d-grid mb-0 text-center">
                    <button class="btn btn-primary" type="submit" (click)="login()"><i class="mdi mdi-login"></i>Iniciar sesión</button>
                </div>


                <!-- end form-->

                <!-- Footer-->

                <footer class="footer footer-alt">
                    <a class="">
                        <span><img src="assets/images/image002.png" width="100px" height="40px" alt="" ></span>
                    </a>
                    <p class="text-muted my-2 py-2">Lol logísticas</p>
                </footer>

            </div>
            <!-- end .card-body -->
        </div>
        <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <!-- end auth-fluid-form-box-->

</div>