<div class="row">
    <div class="col-12">
        <div class="card widget-inline">
            <div class="card-body p-0">
                <div class="row g-0">
                    <div class="col-sm-6 col-xl-4 col-md-6 mb-2">
                        <div class="card shadow-none m-0">
                            <div class="card-body text-center">
                                <i class="dripicons-graph-line text-muted" style="font-size: 24px;"></i>

                                <h3><span>{{stadistics.operations.count}} </span> <i class="mdi mdi-arrow-up text-success"></i></h3>
                                <p class="text-muted font-15 mb-0">Operaciones Activas</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-4 col-md-6 mb-2">
                        <div class="card shadow-none m-0 border-start">
                            <div class="card-body text-center">
                                <i class="dripicons-user-group text-muted" style="font-size: 24px;"></i>

                                <h3><span>{{stadistics.clients.count}} </span></h3>
                                <p class="text-muted font-15 mb-0">Clientes Registrados</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-4 col-md-6 mb-2">
                        <div class="card shadow-none m-0 border-start">
                            <div class="card-body text-center">
                                <i class="dripicons-checklist text-muted" style="font-size: 24px;"></i>

                                <h3><span>{{stadistics.equipments.count}} </span></h3>
                                <p class="text-muted font-15 mb-0">Equipos en inventario </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-4 col-md-6 mb-2">
                        <div class="card shadow-none m-0 border-start">
                            <div class="card-body text-center">
                                <i class="dripicons-briefcase text-muted" style="font-size: 24px;"></i>

                                <h3><span>{{stadistics.active_ports.count}}</span> </h3>
                                <p class="text-muted font-15 mb-0">Puertos activos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4 col-md-6 mb-2">
                        <div class="card shadow-none m-0 border-start">
                            <div class="card-body text-center">
                                <i class="dripicons-hourglass text-muted" style="font-size: 24px;"></i>

                                <h3><span>{{stadistics.rcc.count}}</span> </h3>
                                <p class="text-muted font-15 mb-0">Turnos Ejecutoados</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4 col-md-6 mb-2">
                        <div class="card shadow-none m-0 border-start">
                            <div class="card-body text-center">
                                <i class=" dripicons-user-group text-muted" style="font-size: 24px;"></i>

                                <h3><span>{{stadistics.employees.count}}</span> </h3>
                                <p class="text-muted font-15 mb-0">Empleados activos</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- end card-box-->
    </div>
    <!-- end col-->
</div>