<div class="card">
    <div class="card-body">
        <h4 class="header-title">Editar Empleado</h4>
        <p class="text-muted font-14">
            Edita este empleado y agrega información en su base de datos
        </p>

        <ul class="nav nav-tabs nav-bordered mb-3">
            <li class="nav-item">
                <a href="#input-types-preview" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                    Base de datos
                </a>
            </li>
            <li class="nav-item">
                <a href="#certificados" data-bs-toggle="tab" aria-expanded="false" class="nav-link ">
                    Certificados
                </a>
            </li>
            <li class="nav-item">
                <a href="#medic-test" data-bs-toggle="tab" aria-expanded="false" class="nav-link ">
                    Exámenes médicos
                </a>
            </li>
            <li class="nav-item">
                <a href="#CNCL" data-bs-toggle="tab" aria-expanded="false" class="nav-link ">
                    Certificación en normas de competencia laboral
                </a>
            </li>
            <li class="nav-item">
                <a href="#inductions" data-bs-toggle="tab" aria-expanded="false" class="nav-link ">
                    Inducciones HSQ
                </a>
            </li>

        </ul>
        <!-- end nav-->

        <div class="tab-content">
            <div class="tab-pane show active" id="input-types-preview">

                <div class="row">
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <div class="avatar-lg">
                                    <img src="assets/images/users/avatar-2.jpg" alt="" class="rounded-circle img-thumbnail">
                                </div>
                            </div>
                            <div class="col">
                                <label for="example-fileinput" class="form-label">Foto de perfíl</label>
                                <input type="file" id="example-fileinput" class="form-control">
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="simpleinput" class="form-label">Nombre</label>
                        <input type="text" [(ngModel)]="fullname" id="simpleinput" class="form-control" placeholder="Nombre del empleado">
                    </div>


                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="example-multiselect" class="form-label">Tipo de documentos</label>
                        <select class="form-select">
                                <option selected disabled="" [value]="document_type_id">{{document_type_name}} </option>
                           
                            </select>
                    </div>

                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="Responsable-input" class="form-label">Documento</label>
                        <input type="number" [(ngModel)]="doc_number" class="form-control" placeholder="Documentos del empleado">
                    </div>

                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="example-palaceholder" class="form-label">Email</label>
                        <input type="email" [(ngModel)]="email" class="form-control" placeholder="Correo electrónico">
                    </div>

                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="example-textarea" class="form-label">Teléfono </label>
                        <input type="number" min="0" [(ngModel)]="phone" class="form-control" placeholder="Teléfono celular">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="example-textarea" class="form-label">Entidad bancaria</label>
                        <input type="text" [(ngModel)]="back_entity" class="form-control" placeholder="Entidad bancaria">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="example-textarea" class="form-label">Cuenta bancaria</label>
                        <input type="number" [(ngModel)]="bank_account" min="0" min="0" class="form-control" placeholder="Cuenta bancaria">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="example-textarea" class="form-label">Tipo de alergia</label>
                        <input type="text" [(ngModel)]="allergy" class="form-control" placeholder="Tipo de alergia">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="example-date" class="form-label">Fecha de Nacimiento</label>
                        <input class="form-control" [(ngModel)]="birth_date" id="example-date" type="date" name="text">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="example-date" class="form-label">Fecha de expedición - Documento</label>
                        <input class="form-control" id="example-date" [(ngModel)]="document_issue_date" type="date" name="date">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="expedition-place" class="form-label">Lugar de expedición - Documento</label>
                        <input class="form-control" id="expedition-place" [(ngModel)]="place_issue_date" type="text" name="address" placeholder="Lugar de expedición - Documento">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="example-address" class="form-label">Dirección de residencia</label>
                        <input class="form-control" id="example-address" type="text" [(ngModel)]="address" name="address" placeholder="Dirección de residencia">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="city" class="form-label">Ciudad/Municipio</label>
                        <input class="form-control" id="city" type="text" [(ngModel)]="city" placeholder="Ciudad/Municipio de residencia" name="city">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="Neighborhood" class="form-label">Barrio</label>
                        <input class="form-control" id="Neighborhood" [(ngModel)]="neighborhood" placeholder="Barrio de residencia" type="text" name="Neighborhood">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label class="form-label">Estado civíl</label>
                        <input class="form-control" [(ngModel)]="marital_status" type="text" placeholder="Estado civíl">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label class="form-label">Nivel académico</label>
                        <input class="form-control" type="text" [(ngModel)]="academic_level" placeholder="Nivel académico">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label class="form-label">Numero de contacto de emergencia</label>
                        <input class="form-control" type="number" [(ngModel)]="emergency_number" min="0" placeholder="Numero de contacto de emergencia">
                    </div>


                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="eps" class="form-label">Pensión</label>
                        <input class="form-control" id="eps" [(ngModel)]="pension" type="text" placeholder="pensión" name="text">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="eps" class="form-label">EPS</label>
                        <input class="form-control" id="eps" [(ngModel)]="eps" type="text" placeholder="EPS" name="text">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label class="form-label">Régimen</label>
                        <input class="form-control" type="text" [(ngModel)]="regimen" name="text" placeholder="Régimen">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="expedition-place" class="form-label">AFP</label>
                        <input class="form-control" id="expedition-place" [(ngModel)]="afp" type="text" name="AFP" placeholder="AFP">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label class="form-label">ARL</label>
                        <input class="form-control" [(ngModel)]="arl" type="text" name="ARL" placeholder="ARL">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="RUT" class="form-label">RUT</label>
                        <input class="form-control" id="RUT" [(ngModel)]="rut" type="text" placeholder="RUT" name="RUT">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label for="Confo" class="form-label">Acuerdo CONF</label>
                        <input class="form-control" id="Confo" [(ngModel)]="confidencial_agreement" placeholder="Acuerdo CONF" type="date" name="Confo">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label class="form-label">RH</label>
                        <input class="form-control" [(ngModel)]="rh" type="text" placeholder="RH">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label class="form-label">Nombre de contacto de emergencia</label>
                        <input class="form-control" [(ngModel)]="emergency_name" type="text" placeholder="Nombre de contacto de emergencia">
                    </div>

                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label class="form-label">Vacunación fecha primera dosis</label>
                        <input class="form-control" [(ngModel)]="vaccination_date_1" type="date" placeholder="Vacunación fecha primera dosis">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label class="form-label">Vigencia de contrato</label>
                        <input class="form-control" [(ngModel)]="effective_date" type="date" placeholder="Vigencia de contrato">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label class="form-label">Vacunación fecha segunda dosis</label>
                        <input class="form-control" [(ngModel)]="vaccination_date_2" type="date" placeholder="Vacunación fecha segunda dosis">
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 mb-3">
                        <label class="form-label">Vacunación fecha tercera dosis</label>
                        <input class="form-control" [(ngModel)]="vaccination_date_3" type="date" placeholder="Vacunación fecha segunda dosis">
                    </div>



                    <div class="col-lg-12">
                        <button class="btn btn-secondary mx-2" [routerLink]="['/Home/EmployeesList']">Cancelar</button>
                        <button class="btn btn-primary" type="button" (click)="updateEmployee()">Editar</button>
                    </div>

                </div>

            </div>
            <div class="tab-pane " id="certificados">
                <div class="app-search d-flex w-100 justify-content-between">
                    <div class="mb-2 position-relative ">
                        <input type="text" placeholder="Buscar certificados" class="form-control">
                        <span class="mdi mdi-magnify search-icon"></span>
                    </div>
                    <div class="add-certificate">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-certificate-modal">Nuevo certificado</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-centered mb-0">
                        <thead>
                            <tr>
                                <th>Certificado</th>
                                <th>Entidad</th>
                                <th>Fecha de expedición</th>
                                <th>Fecha de vencimiento</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of employeCertificate">
                                <td>{{c.certificate.name}} </td>
                                <td>{{c.entity}} </td>
                                <td>{{c.date_realization}} </td>
                                <td>{{c.date_expiration}} </td>
                                <td class="table-action">
                                    <a (click)="deleteCertificate(c.id)" class="action-icon delete-admin"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
                <div id="complex-header-datatable_paginate" class="col-sm-12 dataTables_paginate paging_simple_numbers mt-2 text-end">
                    <ul class="pagination pagination-rounded text-end">
                        <li id="complex-header-datatable_previous" class="paginate_button page-item previous disabled"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="0" tabindex="0" class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                        <li class="paginate_button page-item active"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                        <li id="complex-header-datatable_next" class="paginate_button page-item next"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="7" tabindex="0" class="page-link"><i class="mdi mdi-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane " id="medic-test">
                <div class="app-search d-flex w-100 justify-content-between">
                    <div class="mb-2 position-relative ">
                        <input type="text" placeholder="Buscar examenes médicos" class="form-control">
                        <span class="mdi mdi-magnify search-icon"></span>
                    </div>
                    <div class="add-certificate">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-medical-test-modal">Nuevo exámen médico</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-centered mb-0">
                        <thead>
                            <tr>
                                <th>Tipo de examen</th>
                                <th>Entidad</th>
                                <th>Fecha de emisión</th>
                                <th>Fecha de vencimiento</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let mt of medicalTest">
                                <td>{{mt.type}}</td>
                                <td>{{mt.entity}} </td>
                                <td>{{mt.date_realization}} </td>
                                <td>{{mt.date_expiration}} </td>
                                <td class="table-action">
                                    <a (click)="deleteMedicalTest(mt.id)" class="action-icon delete-admin"> <i class="mdi mdi-delete"></i></a>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="complex-header-datatable_paginate" class="col-sm-12 dataTables_paginate paging_simple_numbers mt-2 text-end">
                    <ul class="pagination pagination-rounded text-end">
                        <li id="complex-header-datatable_previous" class="paginate_button page-item previous disabled"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="0" tabindex="0" class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                        <li class="paginate_button page-item active"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                        <li id="complex-header-datatable_next" class="paginate_button page-item next"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="7" tabindex="0" class="page-link"><i class="mdi mdi-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane " id="CNCL">
                <div class="app-search d-flex w-100 justify-content-between">
                    <div class="mb-2 position-relative ">
                        <input type="text" placeholder="Buscar CNCL" class="form-control">
                        <span class="mdi mdi-magnify search-icon"></span>
                    </div>
                    <div class="add-certificate">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-CNCL-modal">Nuevo CNCL</button>
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-centered mb-0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Entidad</th>
                                <th>Fecha de emisión</th>
                                <th>Fecha de vencimiento</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cncl of CNCL">
                                <td>{{cncl.position.name}} </td>
                                <td>{{cncl.entity}}</td>
                                <td>{{cncl.date_realization}}</td>
                                <td>{{cncl.date_expiration}} </td>
                                <td class="table-action">
                                    <a (click)="deleteCNCLAsign(cncl.id)" class="action-icon delete-admin"> <i class="mdi mdi-delete"></i></a>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="complex-header-datatable_paginate" class="col-sm-12 dataTables_paginate paging_simple_numbers mt-2 text-end">
                    <ul class="pagination pagination-rounded text-end">
                        <li id="complex-header-datatable_previous" class="paginate_button page-item previous disabled"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="0" tabindex="0" class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                        <li class="paginate_button page-item active"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                        <li id="complex-header-datatable_next" class="paginate_button page-item next"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="7" tabindex="0" class="page-link"><i class="mdi mdi-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane " id="inductions">

                <div class="app-search d-flex w-100 justify-content-between">

                    <div class="add-certificate">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-induction-modal">Nueva inducciones</button>
                    </div>
                    <div class="mb-2 position-relative ">
                        <input type="text" placeholder="Buscar inducciones" class="form-control">
                        <span class="mdi mdi-magnify search-icon"></span>
                    </div>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="inductions.length === 0">
                    <h4 class="alert-heading">Este empleado no tiene inducciones</h4>
                    <p class="mb-0">Genera una nueva</p>
                </div>
                <div class="table-responsive" *ngIf="inductions.length > 0">
                    <table class="table table-striped table-centered mb-0">
                        <thead>
                            <tr>
                                <th>Puerto</th>
                                <th>Fecha de realización</th>
                                <th>Fecha de vencimiento</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of inductions">
                                <td>{{i.port.name}}</td>

                                <td>{{i.date_realization}} </td>
                                <td>{{i.date_expiration}} </td>
                                <td class="table-action">
                                    <a (click)="deleteInduction(i.id)" class="action-icon delete-admin"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
                <div id="complex-header-datatable_paginate" class="col-sm-12 dataTables_paginate paging_simple_numbers mt-2 text-end">
                    <ul class="pagination pagination-rounded text-end">
                        <li id="complex-header-datatable_previous" class="paginate_button page-item previous disabled"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="0" tabindex="0" class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                        <li class="paginate_button page-item active"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                        <li id="complex-header-datatable_next" class="paginate_button page-item next"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="7" tabindex="0" class="page-link"><i class="mdi mdi-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- end preview-->


        </div>
        <!-- end tab-content-->

    </div>
    <!-- end card-body -->
</div>


<!-- ========================================================== -->
<!-- ============NEW CERTIFICATE MODAL========================= -->
<!-- ========================================================== -->
<div id="new-certificate-modal" class="modal fade show" tabindex="-1" aria-labelledby="add-turn-modalLabel" style="display: none;" aria-modal="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title" id="add-turn-modalLabel">Nuevo certificado</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="date-container d-flex justify-content-between">
                    <div class="mb-3">
                        <label class="form-label">Fechas emisión</label>
                        <input type="date" [(ngModel)]="date_realization_certificate" class="form-control date" id="singledaterange" data-toggle="date-picker" data-cancel-class="btn-warning">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Fechas vencimiento</label>
                        <input type="date" [(ngModel)]="date_expiration_certificate" class="form-control date" id="singledaterange" data-toggle="date-picker" data-cancel-class="btn-warning">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Entidad</label>
                    <input type="text" class="form-control" [(ngModel)]="entity" id="entity" placeholder="Nombre de entidad">
                </div>

                <select class="form-select mb-3" [(ngModel)]="certificate_id">
                    <option selected="" disabled>Seleccionar certificado</option>
                    <option *ngFor="let c of certificate" [value]="c.id">{{c.name}} </option>

                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="asignCertificate()">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- ========================================================== -->
<!-- ============MEDICAL TEST MODAL========================= -->
<!-- ========================================================== -->
<div id="new-medical-test-modal" class="modal fade show" tabindex="-1" aria-labelledby="add-turn-modalLabel" style="display: none;" aria-modal="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title" id="add-turn-modalLabel">Nuevo examen médico</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="date-container d-flex justify-content-between">
                    <div class="mb-3">
                        <label class="form-label">Fechas emisión</label>
                        <input type="date" [(ngModel)]="mt_date_realization" class="form-control date" id="singledaterange" data-toggle="date-picker" data-cancel-class="btn-warning">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Fechas vencimiento</label>
                        <input type="date" [(ngModel)]="mt_date_expiration" class="form-control date" id="singledaterange" data-toggle="date-picker" data-cancel-class="btn-warning">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Entidad</label>
                    <input type="text" [(ngModel)]="mt_entity" class="form-control " id="entity" placeholder="Nombre de entidad">
                </div>

                <select class="form-select mb-3" [(ngModel)]="mt_type"> 
                    <option selected="" disabled>Seleccionar tipo de examen médicos</option>
                    <option value="Ingreso">Ingreso</option>
                    <option value="Periódico">Periódico</option>
                    <option value="Retiro">Retiro</option>
                    <option value="TSA">TSA</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" (click)="createMedicalTest()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- ========================================================== -->
<!-- ============CNCL MODAL========================= -->
<!-- ========================================================== -->
<div id="new-CNCL-modal" class="modal fade show" tabindex="-1" aria-labelledby="add-turn-modalLabel" style="display: none;" aria-modal="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title" id="add-turn-modalLabel">Nuevo CNCL</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="date-container d-flex justify-content-between">
                    <div class="mb-3">
                        <label class="form-label">Fechas emisión</label>
                        <input type="date" [(ngModel)]="date_realization_cncl" class="form-control date" id="singledaterange" data-toggle="date-picker" data-cancel-class="btn-warning">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Fechas vencimiento</label>
                        <input type="date" [(ngModel)]="date_expiration_cncl" class="form-control date" id="singledaterange" data-toggle="date-picker" data-cancel-class="btn-warning">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Entidad</label>
                    <input type="text" [(ngModel)]="entity_cncl" class="form-control " id="entity" placeholder="Nombre de entidad">
                </div>

                <select class="form-select mb-3" [(ngModel)]="position_id">
                    <option selected="" disabled>Seleccionar certificación en normas de competencia laboral </option>
                    <option *ngFor="let cnlist of CNCList" [value]="cnlist.id">{{cnlist.name}} </option>
                  
                   
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="asignCNCL()">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- ========================================================== -->
<!-- ============INDUCTION MODAL========================= -->
<!-- ========================================================== -->
<div id="new-induction-modal" class="modal fade show" tabindex="-1" aria-labelledby="add-turn-modalLabel" style="display: none;" aria-modal="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title" id="add-turn-modalLabel">Nueva inducción HSQ</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="date-container d-flex justify-content-between">
                    <div class="mb-3">
                        <label class="form-label">Fecha de realización</label>
                        <input type="date" [(ngModel)]="date_realization" class="form-control date" id="singledaterange" data-toggle="date-picker" data-cancel-class="btn-warning">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Fecha vencimiento</label>
                        <input type="date" [(ngModel)]="date_expiration" class="form-control date" id="singledaterange" data-toggle="date-picker" data-cancel-class="btn-warning">
                    </div>
                </div>


                <select class="form-select mb-3" [(ngModel)]="port">
                    <option disabled selected="">Selecciona puerto de inducción </option>
                    <option *ngFor="let p of ports" [value]="p.id" >{{p.name}} </option>
                   
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="createInduction()">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>