<div class="row">
    <div class="col-sm-12">
        <!-- Profile -->
        <div class="card">
            <div class="card-body profile-user-box">

                <div class="row">
                    <div class="col-sm-8">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <div class="avatar-lg">
                                    <img [src]="employee_photo" alt="" class="rounded-circle img-thumbnail">
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <h4 class="mt-1 mb-1">{{employee_name}}</h4>
                                    <p class="font-13 text-muted"> Trabajador</p>

                                    <ul class="mb-0 list-inline">
                                        <li class="list-inline-item me-3">
                                            <h5 class="mb-1 text-center">{{total | currency}}</h5>
                                            <p class="mb-0 font-13">Total a liquidar</p>
                                        </li>

                                        <li class="list-inline-item">
                                            <h5 class="mb-1 text-center">{{total_turns}}</h5>
                                            <p class="mb-0 font-13">Turnos completados</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col-->

                    <div class="col-sm-4">
                        <div class="text-center mt-sm-0 mt-3 text-sm-end">
                            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#add-turn-modal">
                                <i class="mdi mdi-account-edit me-1"></i> Agregar Turno
                            </button>
                        </div>
                    </div>
                    <!-- end col-->
                </div>
                <!-- end row -->

            </div>
            <!-- end card-body/ profile-user-box-->
        </div>
        <!--end profile/ card -->
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Turnos completados</h4>

                <div class="table-responsive">
                    <table class="table table-hover table-centered mb-0">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Abreviación</th>
                                <th>Valor</th>
                                <th>Fecha</th>
                                <th>Comentarios</th>
                                <th>Comidas</th>
                                <th>Confirmación</th>
                                <th>Transportes</th>
                                <th>EPP</th>
                                <th>Actualizar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let employee_turn of employee_turns">
                                <td>{{employee_turn.turn.description}}</td>
                                <td>{{employee_turn.turn.abbreviation}}</td>

                                <td><span class="badge bg-primary">{{employee_turn.turn.value}}</span></td>
                                <td> {{employee_turn.date_start}} {{employee_turn.date_stop}} </td>
                                <td>{{employee_turn.turn.comments}}</td>

                                <td>
                                    <input class="form-check-input" disabled type="checkbox" [checked]="employee_turn.foods">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </td>
                                <td>
                                    <input class="form-check-input" disabled type="checkbox" [checked]="employee_turn.confirmation">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </td>
                                <td>
                                    <input class="form-check-input" disabled type="checkbox" [checked]="employee_turn.transport">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </td>
                                <td>
                                    <input class="form-check-input" disabled type="checkbox" [checked]="employee_turn.epp">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </td>
                                <td class="table-action">
                                    <div class="dropdown float-end" bis_skin_checked="1">
                                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end" bis_skin_checked="1">
                                            <!-- item-->
                                            <a (click)="updateTurn(employee_turn.id, true, employee_turn.epp , employee_turn.transport )" class="dropdown-item " style="cursor: pointer;">Entregar Comidas</a>
                                            <!-- item-->
                                            <a (click)="updateTurn(employee_turn.id, employee_turn.foods, employee_turn.epp , true )" class="dropdown-item " style="cursor: pointer;">Entregar Transportes</a>
                                            <!-- item-->
                                            <a (click)="updateTurn(employee_turn.id, employee_turn.foods,true , employee_turn.transport )" class="dropdown-item " style="cursor: pointer;">Entregar EPP</a>
                                            <!-- item-->
                                            <a (click)="updateTurn(employee_turn.id, true, true , true)" class="dropdown-item">Entregar Todos</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
                <!-- end table responsive-->
            </div>
            <!-- end col-->
        </div>
    </div>
    <!-- end col-->
</div>
<!-- ======================================= -->
<!-- ===========ADD TURN==================== -->
<!-- ======================================= -->

<div id="add-turn-modal" class="modal fade show" tabindex="-1" aria-labelledby="add-turn-modalLabel" style="display: none;" aria-modal="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title" id="add-turn-modalLabel">Agregar Turno</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="date-container d-flex justify-content-between">
                    <div class="mb-3">
                        <label class="form-label">Fechas Inicial</label>
                        <input type="date" [(ngModel)]="date_start" class="form-control date" id="singledaterange" data-toggle="date-picker" data-cancel-class="btn-warning">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Fechas Final</label>
                        <input type="date" [(ngModel)]="date_stop" class="form-control date" id="singledaterange" data-toggle="date-picker" data-cancel-class="btn-warning">
                    </div>
                </div>

                <div class="mb-3">
                    <select class="form-select mb-3" [(ngModel)]="charge_id">
                        <option selected="">Seleccionar cargo</option>
                        <option [value]="charge.id"  *ngFor="let charge of charges">{{charge.name}}</option>
                      
                    </select>
                </div>

                <select class="form-select mb-3" [(ngModel)]="turn_id">
                    <option selected="">Seleccionar turno</option>
                    <option *ngFor="let Turn of Turns" [value]="Turn.id" >{{Turn.description}} </option>

                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="newEmployeeOperation()">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>