<div class="row">
    <div class="col-sm-12">
        <!-- Profile -->
        <div class="card">
            <div class="card-body profile-user-box">

                <div class="row">
                    <div class="col-sm-8">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <div class="avatar-lg">
                                    <img src="assets/images/users/avatar-2.jpg" alt="" class="rounded-circle img-thumbnail">
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <h4 class="mt-1 mb-1">Apolinar Javier Barrios Jiménez</h4>
                                    <p class="font-13 text-muted"> Trabajador</p>

                                    <ul class="mb-0 list-inline">
                                        <li class="list-inline-item me-3">
                                            <h5 class="mb-1 text-center">$870.000</h5>
                                            <p class="mb-0 font-13">Total a liquidar</p>
                                        </li>
                                        <li class="list-inline-item me-3">
                                            <h5 class="mb-1 text-center">$85.000</h5>
                                            <p class="mb-0 font-13">Total a liquidar - transportes</p>
                                        </li>
                                        <li class="list-inline-item">
                                            <h5 class="mb-1 text-center">30</h5>
                                            <p class="mb-0 font-13">Turnos completados</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col-->

                    <div class="col-sm-4">
                        <div class="text-center mt-sm-0 mt-3 text-sm-end">
                            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#add-turn-modal">
                                <i class="mdi mdi-account-edit me-1"></i> Agregar Turno
                            </button>
                        </div>
                    </div>
                    <!-- end col-->
                </div>
                <!-- end row -->

            </div>
            <!-- end card-body/ profile-user-box-->
        </div>
        <!--end profile/ card -->
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Turnos completados</h4>

                <div class="table-responsive">
                    <table class="table table-hover table-centered mb-0">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Abreviación</th>
                                <th>Valor</th>
                                <th>Fecha</th>
                                <th>Puerto</th>
                                <th>Comentarios</th>
                                <th>Certificación</th>
                                <th>Comidas</th>
                                <th>Confirmación</th>
                                <th>EPP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Turnos 8hrs Diurno</td>
                                <td>8DI</td>
                                <td><span class="badge bg-primary">$40.350/u</span></td>
                                <td>01/06/2021 - 05/06/2021 </td>
                                <td>Pimsa</td>
                                <td>Transporte</td>
                                <td>
                                    <input class="form-check-input" type="checkbox" value="" checked="">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </td>
                                <td>
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </td>
                                <td>
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </td>
                                <td>
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </td>

                            </tr>
                            <tr>
                                <td>Turnos 8hrs Nocturno</td>
                                <td>8NO</td>
                                <td><span class="badge bg-primary">$46.550/u</span></td>
                                <td>06/06/2021 - 05/16/2021 </td>
                                <td>Pimsa</td>
                                <td>Transporte</td>
                                <td>
                                    <input class="form-check-input" type="checkbox" value="" checked="">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </td>
                                <td>
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </td>
                                <td>
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </td>
                                <td>
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>Turnos 10hrs Sabado a Domingo</td>
                                <td>10SDN</td>
                                <td><span class="badge bg-primary">$73.450/u</span></td>
                                <td>17/06/2021 - 05/30/2021 </td>
                                <td>Pimsa</td>

                                <td>No aplica Transporte</td>
                                <td>
                                    <input class="form-check-input" type="checkbox" value="" checked="">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </td>
                                <td>
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </td>
                                <td>
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </td>
                                <td>
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- end table responsive-->
            </div>
            <!-- end col-->
        </div>
    </div>
    <!-- end col-->
</div>
<!-- ======================================= -->
<!-- ===========ADD TURN==================== -->
<!-- ======================================= -->

<div id="add-turn-modal" class="modal fade show" tabindex="-1" aria-labelledby="add-turn-modalLabel" style="display: none;" aria-modal="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title" id="add-turn-modalLabel">Agregar Turno</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="date-container d-flex justify-content-between">
                    <div class="mb-3">
                        <label class="form-label">Fechas Inicial</label>
                        <input type="date" class="form-control date" id="singledaterange" data-toggle="date-picker" data-cancel-class="btn-warning">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Fechas Final</label>
                        <input type="date" class="form-control date" id="singledaterange" data-toggle="date-picker" data-cancel-class="btn-warning">
                    </div>
                </div>


                <select class="form-select mb-3">
                    <option selected="">Seleccionar turno</option>
                    <option value="1">8hrs Diurno</option>
                    <option value="2">8hrs Nocturno</option>
                    <option value="3">10hrs Diurno, Sabados y Domingos</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>