<div class="card">
    <div class="card-body">
        <h4 class="header-title">Responde la cotización de {{client_name}} </h4>
        <p class="text-muted font-14">

        </p>

        <ul class="nav nav-tabs nav-bordered mb-3">
            <li class="nav-item">
                <a href="#input-types-preview" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                    Respuesta
                </a>
            </li>
        </ul>
        <!-- end nav-->

        <div class="tab-content">
            <div class="tab-pane show active" id="input-types-preview">
                <div class="row">
                    <div class="col-md-3 col-sm-12  ">
                        <form>
                            <div class="mb-3">
                                <label for="simpleinput" class="form-label">Carga el documento de respuesta</label>
                                <input type="file" accept="document=@/ " #DocumentBox name="document " id="avatarinput " (change)="getBase64($event) " class="form-control ">

                            </div>

                            <div class="col-lg-12">
                                <button class="btn btn-primary" [disabled]="uploading" (click)="response()">Responder

                                    <i class="mdi mdi-spin" *ngIf="uploading === true">Subiendo</i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- end col -->
                    <div class="col-sm-12 col-md-9 mt-2">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="example-select" class="form-label fw-bold">Puerto</label>
                                    <input type="text" [(ngModel)]="port_name" disabled="" placeholder="Cantidad de servicios" class="form-control">

                                </div>
                                <div class="mb-3">
                                    <label for="example-select" class="form-label fw-bold">Tipo de producto</label>
                                    <input type="text" [(ngModel)]="product_type" disabled="" placeholder="Tipo de producto" class="form-control">

                                </div>
                                <div class="mb-3">
                                    <label for="example-select" class="form-label fw-bold">Cantidad de servicios</label>
                                    <input type="number" disabled [(ngModel)]="quantity_services" min="0" placeholder="Cantidad de servicios" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="example-select" class="form-label fw-bold">Numero de toneladas</label>
                                    <input type="number" [(ngModel)]="tons" disabled min="0" placeholder="Numero de toneladas" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="example-select" class="form-label fw-bold">Fecha estimada de operación</label>
                                    <input type="date" [(ngModel)]="operation_estimate_date" disabled placeholder="Fecha estimada de operación" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label for="example-select" class="form-label my-0 fw-bold">Rata de productividad</label>
                                    <input type="number" [(ngModel)]="productivity_rate" disabled name="" class="form-control" min="0" placeholder="Rata de productividad" id="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="example-select" class="form-label fw-bold">Cantidad de cucharas</label>
                                    <input type="number" min="0" disabled [(ngModel)]="spoons" placeholder="Cantidad de cucharas" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="example-select" class="form-label fw-bold">Cantidad de Tolvas</label>
                                    <input type="number" min="0" disabled [(ngModel)]="mini_hoppers" placeholder="Cantidad de cucharas" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="example-select" class="form-label fw-bold">Cantidad de Minitolvas</label>
                                    <input type="number" min="0" [(ngModel)]="hoppers" disabled placeholder="Cantidad de cucharas" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="example-date" class="form-label fw-bold">Movimientos a realizar con los equipos seleccionados</label>

                                    <div class="form-check">
                                        <input disabled [checked]="discharge" type="checkbox" class="form-check-input" id="customCheck1">
                                        <label class="form-check-label" for="customCheck1">Descargue</label>
                                    </div>
                                    <div class="form-check">
                                        <input disabled [checked]="charge" type="checkbox" class="form-check-input" id="customCheck2">
                                        <label class="form-check-label" for="customCheck2">Cargue</label>
                                    </div>
                                    <div class="form-check">
                                        <input disabled [checked]="bagged" type="checkbox" class="form-check-input" id="customCheck2">
                                        <label class="form-check-label" for="customCheck2">Ensacado</label>
                                    </div>

                                </div>



                            </div>
                            <!-- end col -->

                        </div>
                    </div>
                </div>
                <!-- end row-->
            </div>
            <!-- end preview-->
        </div>
        <!-- end tab-content-->
    </div>
    <!-- end card-body -->
</div>