<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Crear clientes</h4>
                <p class="text-muted font-14">
                    Completa el formulario de creación de nuevos clientes para poder asignar una operacion.
                </p>

                <!-- end nav-->

                <div class="tab-content">
                    <div class="tab-pane show active" id="input-types-preview">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="avatar-lg">
                                                <img src="assets/images/users/avatar-2.jpg" alt="" class="rounded-circle img-thumbnail">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label for="example-fileinput" class="form-label">Foto de perfíl</label>
                                            <input type="file" id="example-fileinput" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <!-- CLIENT NAME -->
                                <div class="mb-3">
                                    <label for="nameInput" class="form-label">Nombre de la empresa</label>
                                    <input type="text" [(ngModel)]="client_name" id="nameInput" class="form-control" placeholder="Nombre de la empresa">
                                </div>
                                <!-- CLIENT CHARGE NAME -->
                                <div class="mb-3">
                                    <label for="Responsable-input" class="form-label">Responsable</label>
                                    <input type="text" id="Responsable-input" [(ngModel)]="client_name_charge" class="form-control" placeholder="Responsable">
                                </div>
                                <!-- PASSWORD -->
                                <div class="mb-3">
                                    <label for="example-password" class="form-label">Contraseña</label>
                                    <input type="password" id="example-password" [(ngModel)]="password1" class="form-control" placeholder="Contraseña del cliente">
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6">
                                <!-- CLIENT EMAIL -->
                                <div class="mb-3">
                                    <label for="email-fileinput" class="form-label">Correo</label>
                                    <input type="email" [(ngModel)]="email" id="email-fileinput" class="form-control" placeholder="Correo del cliente">
                                </div>
                                <!-- CLIENT ADDRESS -->
                                <div class="mb-3">
                                    <label for="address-date" class="form-label">Dirección</label>
                                    <input class="form-control" [(ngModel)]="address" id="address-date" type="text" name="address" placeholder="Dirección del cliente">
                                </div>
                                <!-- CLIENT PHONE -->
                                <div class="mb-3">
                                    <label for="example-phone" class="form-label">Teléfono</label>
                                    <input class="form-control" [(ngModel)]="phone_number" id="example-phone" type="number" placeholder="Teléfono del cliente" name="phone-nombre">
                                </div>
                                <!-- CLIENT SOCIAL MEDIa -->
                                <div class="mb-3">
                                    <label for="social-media" class="form-label">Redes Sociales</label>
                                    <input class="form-control" [(ngModel)]="social_linkedin" id="social-media" type="text" placeholder="Redes sociales del cliente" name="social-media">
                                </div>
                                <!-- CLIENT REPEAT PASSWORD -->
                                <div class="mb-3">
                                    <label for="password" class="form-label">Repite la contraseña</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password" [(ngModel)]="password" class="form-control" placeholder="Ingresa de nuevo  la  contraseña">

                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-12">
                                <button type="submit" (click)="createClient()" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                        <!-- end row-->
                    </div>
                    <!-- end preview-->
                </div>
                <!-- end tab-content-->

            </div>
            <!-- end card-body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>