<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Crear empleados</h4>
                <p class="text-muted font-14">
                    Completa el formulario de creación de nuevos empleados para poder asignarlos.
                </p>

                <!-- end nav-->

                <div class="tab-content">
                    <div class="tab-pane show active" id="input-types-preview">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="nameInput" class="form-label">Nombre Completo</label>
                                    <input type="text" id="nameInput" [(ngModel)]="fullname" class="form-control" placeholder="Nombre del empleado">
                                </div>
                                <div class="mb-3">
                                    <label for="example-multiselect" class="form-label">Tipo de documentos</label>
                                    <select class="form-select" [(ngModel)]="document_type_id">
                                        <option value="" disabled selected >Selecciona un tipo de documento para tu empleado </option>
                                            <option  *ngFor="let doc of documents" [value]="doc.id">{{doc.name}} </option>
                                       
                                        </select>
                                </div>
                                <div class="mb-3">
                                    <label for="Responsable-input" class="form-label">Documento</label>
                                    <input type="number" min="0" [(ngModel)]="doc_number" id="Id-input" class="form-control" placeholder="Documentos del empleado">
                                </div>
                                <div class="mb-3">
                                    <label for="Charge-input" class="form-label">Dirección</label>
                                    <input type="text" id="Address-input" [(ngModel)]="address" class="form-control" placeholder="Dirección del empleado">
                                </div>

                                <div class="mb-3">
                                    <label for="Neighborhood-input" class="form-label">Barrio</label>
                                    <input type="text" [(ngModel)]="neighborhood" id="Neighborhood-input" class="form-control" placeholder="Barrio">
                                </div>
                                <div class="mb-3">
                                    <label for="email-fileinput" class="form-label">Correo</label>
                                    <input type="email" [(ngModel)]="email" id="email-fileinput" class="form-control" placeholder="Correo del cliente">
                                </div>
                                <div class="mb-3">
                                    <label for="example-phone" class="form-label">Teléfono</label>
                                    <input class="form-control" [(ngModel)]="phone" min="0" id="example-phone" type="number" placeholder="Teléfono del cliente">
                                </div>
                            </div>
                            <!-- end col -->

                            <div class="col-lg-6">

                                <div class="mb-3">
                                    <label for="eps-employeed" class="form-label">Eps</label>
                                    <input class="form-control" id="eps-employeed" [(ngModel)]="eps" type="text" name="eps-employeed" placeholder="Eps del empleado">
                                </div>

                                <div class="mb-3">
                                    <label for="arl-employeed" class="form-label">Arl</label>
                                    <input class="form-control" id="arl-employeed" [(ngModel)]="alr" type="text" placeholder="Arl del empleado" name="arl-employeed">
                                </div>

                                <div class="mb-3">
                                    <label for="pensión-employeed" class="form-label">Pensión</label>
                                    <input class="form-control" id="pensión-employeed" [(ngModel)]="pension" type="text" placeholder="Pensión del empleado" name="pensión-employeed">
                                </div>
                                <div class="mb-3">
                                    <label for="Rut-employeed" class="form-label">Rut</label>
                                    <input class="form-control" id="Rut-employeed" [(ngModel)]="rut" type="text" placeholder="Rut del empleado" name="pensión-employeed">
                                </div>
                                <div class="mb-3">
                                    <label for="bank-account-employeed" class="form-label">Cuenta bancaria</label>
                                    <input class="form-control" [(ngModel)]="bank_account" min="0" id="bank-account-employeed" type="number" placeholder="Cuenta bancaria del empleado" name="bank-account-employeed">
                                </div>

                                <div class="mb-3">
                                    <label for="employeed-date" class="form-label">Fecha de vigencia del empleado</label>
                                    <input class="form-control" [(ngModel)]="effective_date" id="employeed-date" type="date" name="employeed-date">
                                </div>


                            </div>
                            <!-- end col -->
                            <div class="col-lg-12">

                                <button type="button" (click)="createEmployee()" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                        <!-- end row-->
                    </div>
                    <!-- end preview-->



                </div>
                <!-- end tab-content-->

            </div>
            <!-- end card-body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>