<div class="col-xxl-12 col-xl-12 order-xl-1">
    <div class="card  p-2">
        <div class="card-body">
            <ul class="nav nav-tabs nav-bordered">
                <li class="nav-item">
                    <a href="#Pendings" data-bs-toggle="tab" aria-expanded="false" class="nav-link py-2 active">
                      Cotizaciones
                    </a>
                </li>


            </ul>
            <!-- end nav-->
            <div class="tab-content">
                <div class="tab-pane show active  p-3" id="Pendings">

                    <!-- start search box -->
                    <!--  <div class="app-search">
                        <form>
                            <div class="mb-2 position-relative">
                                <input type="text" class="form-control" placeholder="Buscar cotizaciones pendientes....">
                                <span class="mdi mdi-magnify search-icon"></span>
                            </div>
                        </form>
                    </div> -->
                    <div class="table-responsive">
                        <table class="table table-striped table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>ID</th>
                                    <th>Fecha</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let quotation of quotations">

                                    <td>{{quotation.client.client_name}} </td>
                                    <td>{{quotation.id}}</td>
                                    <td>{{quotation.createdAt | date:'short'}}</td>
                                    <td>
                                        <span class="text-danger" *ngIf="quotation.status === false"><b>Pendiente</b></span>
                                        <span class="text-success" *ngIf="quotation.status === true"><b>Respondida</b> </span>
                                    </td>
                                    <td class="table-action">
                                        <a *ngIf="quotation.status === true" [href]="quotation.document_url" class="action-icon"> <i class="mdi mdi-arrow-down-bold text-success"></i></a>
                                        <a *ngIf="quotation.status === false" [routerLink]="['/Home/ResponseMailbox', quotation.id]" routerLinkActive="router-link-active" class="action-icon"> <i class="mdi mdi-reply-all text-danger"></i></a>

                                    </td>
                                </tr>


                            </tbody>
                        </table>
                        <div id="complex-header-datatable_paginate" class="dataTables_paginate paging_simple_numbers mt-1 text-end">
                            <ul class="pagination pagination-rounded text-end">
                                <li id="complex-header-datatable_previous" class="paginate_button page-item previous disabled"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="0" tabindex="0" class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                <li class="paginate_button page-item active"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                <li id="complex-header-datatable_next" class="paginate_button page-item next"><a href="#" aria-controls="complex-header-datatable" data-dt-idx="7" tabindex="0" class="page-link"><i class="mdi mdi-chevron-right"></i></a></li>
                            </ul>
                        </div>

                        <!-- end table-responsive-->

                        <!-- end search box -->


                    </div>
                </div>

            </div>
            <!-- end tab content-->
        </div>
        <!-- end card-body-->
    </div>
    <!-- end card-->
</div>